<table>
    <tr>
        <td colspan="2">
            <h1>{{x}}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="-"
                   (click)="subtract()">
        </td>
        <td>
            <input type="button" value="+"
                   (click)="add()">
        </td>
    </tr>
</table>
<hr />
<img (mouseover)="changeimg($event)"
     (mouseout)="defaultimg($event)"
     src="{{ hinh }}" width="300px" />

<hr />
<div>
    <input (keyup)="setinputvalue($event)" id="1" />
    <div>Hello: {{ inputvalue | json }}</div>
</div>

<hr />
<div>
    <input [(ngModel)]="name" id="2" #Variable />
    <div>Hello: {{ name }}</div>
    <div>{{ Variable.value }}</div>
</div>
